<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/semantic.css"/>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<form action="/search" method="get" class="ui form">
    <input type="text" name="q"/>
    <input type="submit"/>
</form>
</body>
</html>
